In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns',None)

In [6]:
car = pd.read_csv(r'C:\Users\parve\OneDrive\Desktop\Project Data\2. Cars Data1.csv')

In [7]:
car.head(3)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4,200,22,29,3230,105,183

In [8]:
car.info

<bound method DataFrame.info of       Make                    Model   Type  Origin DriveTrain      MSRP  \
0    Acura                      MDX    SUV    Asia        All  $36,945
1    Acura           RSX Type S 2dr  Sedan    Asia      Front  $23,820
2    Acura                  TSX 4dr  Sedan    Asia      Front  $26,990
3    Acura                   TL 4dr  Sedan    Asia      Front  $33,195
4    Acura               3.5 RL 4dr  Sedan    Asia      Front  $43,755
..     ...                      ...    ...     ...        ...       ...
427  Volvo  C70 LPT convertible 2dr  Sedan  Europe      Front  $40,565
428  Volvo  C70 HPT convertible 2dr  Sedan  Europe      Front  $42,565
429  Volvo               S80 T6 4dr  Sedan  Europe      Front  $45,210
430  Volvo                      V40  Wagon  Europe      Front  $26,135
431  Volvo                     XC70  Wagon  Europe        All  $35,145

      Invoice  EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway  \
0    $33,337          3.5          6         265        17           23
1    $21,761          2.0          4         200        24           31
2    $24,647          2.4          4         200        22           29
3    $30,299          3.2          6         270        20           28
4    $39,014          3.5          6         225        18           24
..        ...         ...        ...         ...       ...          ...
427  $38,203          2.4          5         197        21           28
428  $40,083          2.3          5         242        20           26
429  $42,573          2.9          6         268        19           26
430  $24,641          1.9          4         170        22           29
431  $33,112          2.5          5         208        20           27

     Weight  Wheelbase  Length
0      4451        106     189
1      2778        101     172
2      3230        105     183
3      3575        108     186
4      3880        115     197
..      ...        ...     ...
427    3450        105     186
428    3450        105     186
429    3653        110     190
430    2822        101     180
431    3823        109     186

[432 rows x 15 columns]>

In [9]:
car.isnull().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

In [10]:
car.describe()

,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
count,432.000000,432.000000,432.000000,432.000000,432.000000,432.000000,432.000000,432.000000
mean,3.189120,5.791667,215.442130,20.094907,26.886574,3572.615741,108.129630,186.310185
std,1.107304,1.557297,71.775277,5.239310,5.735355,758.647726,8.300161,14.330571
min,1.300000,3.000000,73.000000,10.000000,12.000000,1850.000000,89.000000,143.000000
25%,2.375000,4.000000,165.000000,17.000000,24.000000,3098.500000,103.000000,178.000000
50%,3.000000,6.000000,210.000000,19.000000,26.000000,3472.000000,107.000000,187.000000
75%,3.825000,6.000000,251.250000,22.000000,30.000000,3968.750000,112.000000,194.000000
max,8.300000,12.000000,500.000000,60.000000,66.000000,7190.000000,144.000000,238.000000

In [12]:
car.duplicated().sum()

4

In [13]:
make_value = car['Make'].value_counts(ascending=False)

In [14]:
make_value

Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              22
Audi             19
Honda            18
Nissan           17
Volkswagen       15
Chrysler         15
Dodge            13
Hyundai          13
Mitsubishi       13
Volvo            12
Jaguar           12
Subaru           11
Pontiac          11
Mazda            11
Lexus            11
Kia              11
Buick             9
Mercury           9
Lincoln           9
Saturn            8
Cadillac          8
Suzuki            8
Infiniti          8
GMC               8
Acura             7
Porsche           7
Saab              7
Land Rover        3
Oldsmobile        3
Jeep              3
Scion             2
Isuzu             2
MINI              2
Hummer            1
Name: Make, dtype: int64

In [23]:
filt_A_E = car[car['Origin'].isin(['Asia','Europe'])]
filt_A_E

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6,265,23,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4,200,30,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4,200,28,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6,270,26,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6,225,24,24,3880,115,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5,197,27,28,3450,105,186
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5,242,26,26,3450,105,186
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6,268,25,26,3653,110,190
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4,170,28,29,2822,101,180
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5,208,26,27,3823,109,186

In [24]:
remove_4000 = car[~(car['Weight'] > 4000)]

In [25]:
remove_4000

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4,200,30,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4,200,28,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6,270,26,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6,225,24,24,3880,115,197
5,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,"$46,100","$41,100",3.5,6,225,24,24,3893,115,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5,197,27,28,3450,105,186
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5,242,26,26,3450,105,186
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6,268,25,26,3653,110,190
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4,170,28,29,2822,101,180
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5,208,26,27,3823,109,186

In [21]:
car['MPG_City'] = car['MPG_City'].apply(lambda x:x+3)

In [26]:
car

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6,265,23,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4,200,30,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4,200,28,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6,270,26,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6,225,24,24,3880,115,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5,197,27,28,3450,105,186
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5,242,26,26,3450,105,186
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6,268,25,26,3653,110,190
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4,170,28,29,2822,101,180
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5,208,26,27,3823,109,186

In [27]:
car['MSRP'] = car['MSRP'].str.replace('[^0-9,a-z,A-Z]','')

C:\Users\parve\AppData\Local\Temp\ipykernel_3944\235546918.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  car['MSRP'] = car['MSRP'].str.replace('[^0-9,a-z,A-Z]','')

In [28]:
car

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"36,945","$33,337",3.5,6,265,23,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"23,820","$21,761",2.0,4,200,30,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"26,990","$24,647",2.4,4,200,28,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"33,195","$30,299",3.2,6,270,26,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"43,755","$39,014",3.5,6,225,24,24,3880,115,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"40,565","$38,203",2.4,5,197,27,28,3450,105,186
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"42,565","$40,083",2.3,5,242,26,26,3450,105,186
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"45,210","$42,573",2.9,6,268,25,26,3653,110,190
430,Volvo,V40,Wagon,Europe,Front,"26,135","$24,641",1.9,4,170,28,29,2822,101,180
431,Volvo,XC70,Wagon,Europe,All,"35,145","$33,112",2.5,5,208,26,27,3823,109,186

In [29]:
car['Invoice'] = car['Invoice'].str.replace('[^0-9,a-z,A-Z]','')

C:\Users\parve\AppData\Local\Temp\ipykernel_3944\3448928630.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  car['Invoice'] = car['Invoice'].str.replace('[^0-9,a-z,A-Z]','')

In [30]:
car

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"36,945","33,337",3.5,6,265,23,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"23,820","21,761",2.0,4,200,30,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"26,990","24,647",2.4,4,200,28,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"33,195","30,299",3.2,6,270,26,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"43,755","39,014",3.5,6,225,24,24,3880,115,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"40,565","38,203",2.4,5,197,27,28,3450,105,186
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"42,565","40,083",2.3,5,242,26,26,3450,105,186
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"45,210","42,573",2.9,6,268,25,26,3653,110,190
430,Volvo,V40,Wagon,Europe,Front,"26,135","24,641",1.9,4,170,28,29,2822,101,180
431,Volvo,XC70,Wagon,Europe,All,"35,145","33,112",2.5,5,208,26,27,3823,109,186